@import "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";


body {
    padding: 5em;
}

table{
    width: 100%;
}

table, th, td {
    border: 0.05em solid rgb(204, 204, 204);
    border-spacing: 0;
}

th {
    background-color: rgb(204, 204, 204);
}

ul li:nth-child(odd) {
    background-color: yellow;
}

