nav ul {
    padding: 0;
    margin: 0;
    background-color: #000;
}

nav ul::after {
    display: block;
    content: "";
    clear: both;
}

nav ul li {
    display: block;
    list-style: none outside;
    float: left;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}