@import url("navigation.css");
body {
    max-width: 60rem;
    margin: 0 auto;
    border: 1px dotted black;

}


.site-header {
    border-bottom: 1px solid gray;
}

.site-header {
    
}

.site-main {
    width: 60%;
    float: left;
}

.site-sidebar {
    width: 40%;
    float: left;
}

.site-footer {
    border-top: 1px solid red;
}

.cleaner::after{
    display: block;
    content: '';
    clear: both;
}


