@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i&display=swap');

html {
    font: 16px/1.5;
    font-family: "PT Sans", serif;
}




ul li {list-style-type: square;}
ul ul li {list-style-type: disc;}
ul ul ul li {list-style-type: circle;}

p {
	margin: 0;
	padding-bottom: 1.5rem;
}


hr {
	margin: 2rem 0;
}


blockquote {
    margin: 0 0 1.5rem 2rem;
    padding: 1rem 2rem;
    font-style: italic;
    border-left: 0.25rem solid rgb(221, 221, 221);
}

blockquote .author {
    text-align: right; 
    font-family: sans-serif;
}


