nav ul a {
    color: rgb(0, 102, 0);
}

header {
    position: relative;
}

header nav  {
    display: block;
    position: absolute;
    bottom: 1.5rem; right: 0;

}

header nav ul {
    list-style: none;
}

header nav li {
    margin: 0 1rem 0 0;
    float: left;
}

aside {
    float: left;
    width: 30%;
    height: auto;
    padding: 2rem;
}
aside h3 {

}

aside nav {

}

aside section {
    margin-bottom: 1.5rem;
}
aside nav ul {
    list-style-position: inside;
    list-style-type: square;
}

aside nav li {
    padding-left: 1rem;
}
