@import url("typography.css");

body {
    width: 80vw;
    height: 80vh;
}

section {
    display: block;
    min-width: 15rem;
    max-width: 30rem;
    width: 30vw;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: box-shadow 0.3s ease-out;
}

section:hover {
    /* transition: ease-in 0.3s; */
    box-shadow: 0 0 3rem 0.8rem rgba(0, 0, 0, 0.6);
}

.description {
    padding: 2rem 2rem;
    position: relative;
}

.description h3 {
    margin: 0 0 1em 0;
}

.description .button{
    float: right;
    background: rgb(1, 153, 0);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.description .button:hover {
    background: #060;
}


.image {
    position: relative;
    overflow: hidden;
}

.image::before {
    display: block;
	content: '';
	padding-top: 56.25%;
}

.image img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
}

.cleaner::after {
    display: block;
    content: '';
    clear: both;
}
