@import "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";


body {
    padding: 5em;
}

a {
    text-decoration: none;
    border-radius: 0.1em;
    background-color: greenyellow;
    margin: 1em
}